html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;

}

.robot {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  position: relative;
}

.robot-body {
  width: 320px;
}

.robot-brain,
.robot-head-right,
.robot-head-left {
  position: absolute;
  top: .7rem;
}

.robot-brain {
  width: 46px;
  top: 3rem;
  left: 8.5rem;
}

.robot-head-left {
  left: 2.2rem;
}

.robot-head-right {
  right: 2.2rem;
}

.robot:hover .robot-head-left {
  left: -.25rem;
}

.robot:hover .robot-head-right {
  right: -.25rem;
}

.robot:hover .robot-brain {
  top: 2rem;
}

